.olControlLoadingPanel {
   background-image:url(/map/static/lib/openlayers/theme/default/img/loading.gif);   
   margin-left: 30%;
   margin-top: 50%;
   position: relative;
   width: 195px;
   height: 11px;
   background-position:center;
   background-repeat:no-repeat;   
   display: none;
}
